<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Rocky Meadow Enterprises - Construction Services</title>
        <meta name="description" content="Construction Services - Rocky Meadow Enterprises" />
        <meta name="web_author" content="MBees Design using Imarc Boilerplate" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="css/slick.css" media="all" />
        <link rel="stylesheet" type="text/css" href="css/slick-theme.css" media="all" /> -->
        <!-- fotorama.css & fotorama.js. -->
        <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->

        <link rel="stylesheet" type="text/css" href="css/styles.css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Bevan|Open+Sans:400,400i,700,800" rel="stylesheet">
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body>
    <div class="wrapper">
        <header class="primary">
            <div class="container">
                <div class="header-content">
                    <div class="branding">
                        <a href="/">
                            <img src="img/rocky-meadow-logo.png" alt="Rocky Meadow Enterprises Logo">
                        </a>
                        <nav aria-label="Primary Navigation" class="primary">
                            <ul>
                                <li>
                                    <a href="gallery.php">Photo Gallery</a>
                                </li>
                                <li>
                                    <a href="contact.php">Contact Us</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>