<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Rocky Meadow Enterprises - Construction Services</title>
        <meta name="description" content="Construction Services - Rocky Meadow Enterprises" />
        <meta name="web_author" content="MBees Design using Imarc Boilerplate" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/styles.css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Bevan|Open+Sans:400,400i,700,800" rel="stylesheet">
    </head>
    <body>
    <div class="wrapper">
        <header class="primary">
            <div class="container">
                <div class="header-content">
                    <div class="branding">
                        <a href="/dev/">
                            <img src="img/rocky-meadow-logo.png" alt="Rocky Meadow Enterprises Logo">
                        </a>
                    </div>
                </div>
            </div>
        </header>